*{
	margin: 0px;
}

#contenedor{
	margin: auto;
	height: 780px;
	width: 850px;
	margin-top: 20px;
}

header{
	height: 120px;
	width: 850px;
}

nav{
	background-color: #FFBD16;
	height: 60px;
	width: 850px;
	margin-bottom: 15px;
	border-radius: 0px 0px 20px 20px;
}

#menu{
	padding-top: 15px;
}

.navega{
	display: inline;
	padding-right: 77px;
}


aside{
	height: 490px;
	width: 283px;
	margin-bottom: 15px;
	float: left;
}

#menu{
	list-style: none;
}

section{
	height: 490px;
	width: 545px;
	margin-left: 15px;
	margin-bottom: 15px;
	float: right;
}

footer{
	background-color: #232323;
	color: #716F70;
	border-radius: 0px 0px 20px 20px;
	margin-bottom: 10px;
	height: 80px;
	width: 850px;
	clear: both;
}


#encabezado{
	height: 100%;
	width: 100%;
}

p{
	padding-top: 12px;
}

#contactos{
	margin-top: 15px
}

.seccion{
	background-color: #E9E7E8;
	float: left;
	border-radius: 15px;
	height: 235px;
	width: 262px;
}

.seccion1{
	background-color: #E9E7E8;
	float: right;
	border-radius: 15px;
	height: 235px;
	width: 262px;
}

.seccion2{
	background-color: #E9E7E8;
	float: left;
	border-radius: 15px;
	height: 236px;
	width: 262px;
	margin-top: 15px;
}

.seccion3{
	background-color: #E9E7E8;
	float: right;
	border-radius: 15px;
	height: 236px;
	width: 262px;
	margin-top: 15px;
}

.aparte{
	background-color: #B2B2B2;
	margin-bottom: 15px;
	height: 230px;
	width: 100%;
	border-radius: 15px 15px 0px 0px;
}

.aparte1{
	background-color: #232323;
	height: 241px;
	width: 100%;
	display: block;
}

.titulo{
	background-color: #141414;
	color: white;
	padding-top: 10px;
	width: 100%;
	height: 30px;
}

.lista{
	color: #B1B1B1;
	list-style: none;
	margin-left: 16px;
}

.datos{
	padding-top: 18px;
}

.textos{
	display: block;
	color: #B1B1B1;
	margin-top: 3px;
}

button{
	background-color: #FFBD16;
	margin-top: 18px;
}

article img{
	margin-top: 10px;
	height: 110px;
	width: 70px:;
}

.letra{
	padding: 0px 10px 10px 10px;
	font-size: 12px;
	text-align: justify;
}

hr{
}