
body{
	background: url(../img/9.jpg) center ; 
	background-repeat: no-repeat;
	background-size:100% 100%; 
	background-attachment: scroll;
}
main {
  height:  500px ;
  width:  400px ; 
  margin:   auto;
}
header {
  height:  150px ;
  width:  500px ;
}
header h1{
	color: #7fffd4;
}
section{
  color: #7fffd4;
  height: 200px ;
  width:  400px ;
}